<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<style>
.box {
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	display: inline-block;
	margin-bottom: 10px;
}
input, button {
	padding: 10px;
}
</style>
  <h1>Message Log</h1>

  <div class="box">
  <% for(var i=0; i<quotes.length; i++) {%>
    <div class="quote">
      <span><b><%= quotes[i].name %></b></span>: <span><%= quotes[i].quote %></span>
    </div>
  <% } %>
  </div>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <br>
  Mongo DB collection: <a href="https://mlab.com/databases/chat-message/collections/quotes">https://mlab.com/databases/chat-message/collections/quotes</a>
  <!-- https://zellwk.com/blog/crud-express-mongodb/ -->
</body>
</html>